.arrow.prev {
    left: 5%;
    opacity: 0.2;
    transition: all 0.2s linear 0s;
}
.arrow.next {
    opacity: 0.2;
    right: 5%;
    transition: all 0.2s linear 0s;
}
.arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    font-size: 36px;
}
.arrow.prev:hover {
    opacity: 1;
}
.arrow.next:hover {
    opacity: 1;
}
.nav {
    bottom: 0;
    display: block;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    text-align: center;
    width: 100%;
    z-index: 5;
    padding: 5px 5px 8px;
}
.nav li {
    border: 1px solid rgba(0,0,0,.075);
    cursor: pointer;
    display: inline-flex !important;
    margin: 5px 7px;
    position: relative !important;
    width: 150px;
    height: 80px;
}
.nav li img {
    width: 100%;
}
.default {
    background-image: url(espl_defaultImage);
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center;
    background-size: 500px 500px;
    height: 506px;
    width: 912px;
}
.slide {
    position: absolute;
    top: 0;
    left: 0;
}
.slide.ng-hide-add {
    opacity: 1;
}
.slide.ng-hide-add.ng-hide-add-active {
    opacity: 0;
}
.slide.ng-hide-remove {
    display: block!important;
    opacity: 0;
}
.del_photo {
  margin: 5px 5px 0 0;
    top: 9px;
    cursor: pointer;
    height: 7%;
    outline: medium none;
    position: absolute;
    bottom: 10px;
    width: 64px;
    z-index: 5;
    /* left: 0; */
    background: white;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 3px;
    overflow-y: hidden;
    color: black;
    display: inline-block;
    right: 0;
}
A.ms-crm-Menu-Label, A.ms-crm-Menu-Label-Flyout {
    outline-width: 0px;
    outline-style: none;
    outline-color: invert;
    padding-top: 8px;
    padding-bottom: 4px;
}
.col-md-6 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
 .row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}
td {
    font-size: 14px;
}
table {
    border-collapse: collapse;
}
.percent {
    position: absolute !important;
    width: 100%;
    height: 14px !important;
    z-index: 1 !important;
    text-align: center !important;
    font-size: 0.8em !important;
    color: white !important;
}
.progressBar {
/*    width: 300px;*/
    margin-top: 10px;
    height: 14px !important;
    border-radius: 10px !important;
    border: 1px solid #CCC !important;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#6666cc), to(#4b4b95));
    background: #4b4b95;
    background: -webkit-linear-gradient(-90deg, #4b4b95, #6666cc);
    background: -o-linear-gradient(-90deg, #4b4b95, #6666cc);
    background: -moz-linear-gradient(-90deg, #4b4b95, #6666cc);
    background: linear-gradient(-90deg, #4b4b95, #6666cc);
    border-image: initial !important;
}
.uploaded {
    padding: 0 !important;
    height: 14px !important;
    border-radius: 10px !important;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#66cc00), to(#4b9500))!important;
    border-image: initial !important;
}
.dropbox span {
}
.dropbox.not-available {
    background-color: #F88 !important;
}
.dropbox.over {
    background-color: #bfb !important;
}
.fileNames {
    color: #080808 !important;
}
ul {
    list-style-type: none !important;
    white-space: nowrap;
    overflow-x: auto;
}
.slider {
    width: 80% !important;
    text-align: center !important;
    color: #BBB !important;
    font-size: 2em !important;
    font-family: Arial, sans-serif;
    float: left;
    height: 506px;
    top: 40px;
    position: relative;
    box-shadow: 0 0 1.3rem rgba(0, 0, 0, 0.18);
    border-right-style: none;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -ms-perspective: 1000px;
    -o-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.dropbox {
    width: 20% !important;
    color: #BBB;
    float: left;
    height: 506px;
    top: 40px;
    position: relative;
    vertical-align: middle;
    border-style: dashed;
    max-height: 506px;
    overflow-y: scroll;
}
.dropText {
    vertical-align: middle;
    margin-top: 85% !important;
    display: block !important;
    font-size: 19px;
    font-weight: bold;
    color: #333;
    text-align: center !important;
}
.imgSlider {
    display: flex;
    height: 400px;
    position: relative;
}
.slide, .slide.ng-hide-remove.ng-hide-remove-active {
    max-width: 100%;
    max-height: 80%;
    position: relative;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.navImages {
    display: flex;
    height: 100px;
}
span.fileName {
    font-size: 13px;
    font-weight: bolder;
}
span.fileSize {
    font-size: 10px;
    font-weight: bold;
}
.btn {
    margin: 0 5px;
    border-radius: 0px !important;
    font-weight: bold!important;
}
 .descContainer {
    top: 40px;
    position: relative;
}
 label {
    margin-bottom: 5px;
    margin-left: 5px;
    margin-top: 5px;
    color: #080808 !important;
    font-size: 12px;
}
.form-group {
    margin: 5px;
}
.fileInputlbl {
    display: block !important;
    border: 2px solid #337ab7 !important;
    border-radius: 25px !important;
    margin: auto;
    left: 0;
    right: 0;
    width: 105px !important;
    min-width: 105px !important;
}
 .nav li:hover {
    border: 2px solid #ccc;
    border: 4px solid #dddddd;
    width: 200px;
    height: 100px;
}
.nav li.active {
    border: 4px solid rgba(11, 32, 42, 0.38);
    width: 155px;
    height: 80px;
}
.description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 700px;
}
i:hover {
    color: #337ab7;
}
.table-responsive {
    min-height: .01%;
    overflow-x: auto;
    max-height: 390px !important;
    overflow-y: scroll;
}